body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vw;
    height: 70vh;
    border: groove 1vh darkgray;
    background-color: #fafafa;
    overflow: hidden; 
}

.upper-part {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-part > .upper-part-element {
    margin-left: 2%;
}

.middle-part {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-part {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-part > div {
    width: 80%;
    display: flex;
    justify-content: center;
}

.lower-part > div > span {
    margin-left: 2%;
    margin-right: 2%;
}